<p>Feedback that should be filled by students</p>
<div class="feedback">
<form id="myForm">
    <label>
      <input type="radio" name="choice" value="Good"> Good
    </label><br>
    <label>
      <input type="radio" name="choice" value="Excellent"> Excellent
    </label><br>
    <label>
      <input type="radio" name="choice" value="Bad"> Bad
    </label><br><br>
    <label for="comments" style="font-size: larger; font: weight 5px;" >Your Comments:</label><br>
        <textarea id="comments" name="comments" rows="4" cols="50" placeholder="Enter your comments here..."></textarea><br><br>
        <input type="submit" value="Submit">
  </form>
  </div>
  