
<div class="card-group">
    <div class="card">
      <img src="images/angular.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Angular</h5>
        <p class="card-text">Angular is a powerful TypeScript-based web application framework developed by Google for building dynamic, single-page applications efficiently.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="images/mongodb.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mongo DB</h5>
        <p class="card-text">MongoDB is a NoSQL database that stores data in flexible, JSON-like documents, enabling scalable, high-performance applications with ease.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="images/nodejs.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Node js</h5>
        <p class="card-text">Node.js is a JavaScript runtime that enables server-side scripting, allowing developers to build scalable, real-time web applications.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

